@model GFT_Tickets.DTO.GeneroMusicalDTO
<h2 style="text-align: center;">Cadastrar Gênero Musical</h2>


<form enctype="multipart/form-data" method="post" asp-action="Salvar">
    
    <label asp-for="Nome" class="mt-4">Nome</label>
    <input type="text" asp-for="Nome" class="form-control mb-2" placeholder="Nome do Gênero Musical">
    <span asp-validation-for="Nome"></span>     
    <dl>
        <dt>
            <label asp-for="Imagem"></label>
        </dt>
        <dd>
            <input asp-for="Imagem" type="file" accept=".png,.jpg,.jpeg">
            <span asp-validation-for="Imagem"></span>
        </dd>
    </dl>
    <input class="btn btn-outline-success mt-3" type="submit" value="Upload" />
</form>

@section scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}