@model IEnumerable<GFT_Tickets.Models.GeneroMusical>
@{
    ViewData["Title"] = "Gênero Musical";
}
<h1>@ViewData["Title"]</h1>

<a class="btn btn-success mb-5" asp-controller="GeneroMusical" asp-action="Cadastrar">Novo Gênero Musical</a>

<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Ações</th>
    </tr>
    <tbody>
        @foreach (var generomusical in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => generomusical.Id)</td>
                <td>@Html.DisplayFor(model => generomusical.Nome)</td>
                <td><a class="btn btn-success" href="/GeneroMusical/Editar/@generomusical.Id">Editar</a> 

                <form asp-action="Deletar" asp-controller="GeneroMusical" style="display: inline;">
                    <input type="hidden" name="id" id="id" value="@generomusical.Id">
                    <button class="btn btn-danger">Excluir</button>
                </form>
                </td>
            </tr>
        }
    </tbody>
</table>