@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-5">Seja bem-vindo ao GFT-Tickets!</h1>
    <h2>Faça login para usufruir de nossa plataforma.</h2>
</div>